@font-face {
  font-family: "SFProDisplayThin";
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayRegular";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayBold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayBlack";
  src: url("../assets/fonts/SF-Pro-Display-Black.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#mainWrapper {
  width: 1400px;
  height: 787.5px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
}

#navContent {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;
}

#navContent img {
  width: 100%;
}

header {
  text-align: center;
  margin-top: 30px;
}

header img {
  width: 279px;
}

header p {
  font-family: SFProDisplayRegular;
  font-size: 20px;
  color: #3c3c3b;
  margin-top: 80px;
}

#mainContainer {
  text-align: center;
  margin-top: 118px;
}

#formMessage {
  margin: 0 20px;
  border-radius: 5px;
  background-color: #e3a6a6;
  margin-bottom: 50px;
}

#formMessage p {
  padding: 15px 10px 14px 10px;
  text-align: start;
  font-family: SFProDisplayRegular;
  font-size: 18px;
  color: white;
}

#mainContainer h2 {
  font-family: SFProDisplayBlack;
  color: #3c3c3b;
  font-size: 32px;
  margin-bottom: 47px;
}

#loginForm {
  margin: 0 auto;
  width: 600px;
}

#loginForm input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: SFProDisplayThin;
  font-size: 20px;
  padding: 13px 10px;
  margin-bottom: 50px;
}

#loginForm input[type="submit"] {
  background-color: #ffb527;
  width: 250px;
  margin: 118px auto 0 auto;
  font-family: SFProDisplayBold;
  font-size: 20px;
  color: #3c3c3b;
}
