@font-face {
  font-family: "SFProDisplayBold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayBlack";
  src: url("../assets/fonts/SF-Pro-Display-Black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayRegular";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayThin";
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#mainWrapper {
  width: 1400px;
  height: 787.5px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

#navContent {
  padding: 20px;
}

#navContent a img {
  width: 37px;
}

#mainContainer {
  margin: 0 20px;
}

#mainContainer h1 {
  font-size: 32px;
  font-family: SFProDisplayBlack;
  text-align: center;
  color: #3c3c3b;
}

#messageContent {
  background-color: #e3a6a6;
  border-radius: 5px;
}

#messageContent p {
  margin: 48px 0;
  padding: 15px 10px;
  color: white;
  font-size: 18px;
  font-family: SFProDisplayRegular;
}

#mainContent {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 85px 0;
  flex-wrap: wrap;
}

#mainContent p {
  font-size: 20px;
  font-family: SFProDisplayThin;
}

.cardContainer {
  width: 378px;
  height: 185px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  color: #3c3c3b;
}

.cardContainer h2 {
  font-size: 26px;
  font-family: SFProDisplayBold;
  color: #3c3c3b;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardContainer p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardContainer p:nth-child(2) {
  margin: 20px 0 16px 0;
}

.cardContainer p:last-child {
  width: 117px;
  margin: 20px 0 0 auto;
  padding: 17px 0;
  background-color: #ffb527;
  border-radius: 5px;
  text-align: center;
}

.cardContainer p a {
  text-decoration: none;
  color: #3c3c3b;
  font-size: 14px;
  font-family: SFProDisplayBold;
}

.bold {
  font-family: SFProDisplayBold;
}
